.wrapper_alert.container_component{
    display: block;
    margin: 1rem;
    border: 2px solid var(--border);
    border-radius: 8px;
}

.alert{
    display: flex;
    align-items: center;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 8px
}

.alert_primary{
    background-color: var(--alert-primary)
}

.alert_success{
    background-color: var(--alert-success);
}

.alert_secondary{
    background-color: var(--alert-secondary)
}

.alert_danger{
    background-color: var(--alert-danger)
}

.alert_warning{
    background-color: var(--alert-warning)
}

.alert span{
    margin-right: 1rem;
}

.alert_success span{
    color: var(--alert-success-icon)
}

.alert_danger span{
    color: var(--alert-danger-icon)
}

.alert_warning span{
    color: var(--alert-warning-icon)
}

.alert .close{
    color: var(--alert-close-icon)
}

.alert .close:hover{
    cursor: pointer;
}

.alert .alert_btn_close{
    background-color: transparent;
    border: none;
    margin-left: auto;
}