@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('../components/../docs/css/reset.css');
@import url('../components/../docs/css/base.css');
@import url('../components/avatar.css');


a{
    color: inherit;
}

ul{
    display: flex;
}

.nav{    
    padding: 1rem 1rem 1.5rem 1rem;
    box-shadow: 0px 2px 4px 5px rgba(0,0,0,0.1);
    display: flex;
    align-items: center;
}

.nav_logo{
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--primary-color);
    position: relative;
    display: flex;
    align-items: center;
}

.logo_text{
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    bottom: -1.5rem;
}

.nav_links{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.nav_item{
    padding: 1rem;
    color: #777777;    
}

.nav_item a:hover, .nav_item a i:hover{
    color: var(--link-hover)
}

.nav_links_about a{
    font-weight: 600;
    letter-spacing: 0.025em;
}

.nav_links_social{
    margin-left: auto;
}

.nav_links_social i{
    color: #777777
}


