
.avatar{
    margin: .5rem;
}

.avatar_circle.avatar{
    border-radius: 50%;
}

.avatar_round_corner .avatar{
    border-radius: 8px;
}

.avatar_lg{
    width: 10rem;
    height: 10rem;
    font-size: 2.5rem;
}

.avatar_md{
    width: 8rem;
    height: 8rem;
    font-size: 2rem;
}

.avatar_sm{
    width: 6rem;
    height: 6rem;
    font-size: 1.5rem;
}

.avatar_xs{
    width: 3rem;
    height: 3rem;
}

.avatar.avatar_text{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--avatar-text-background)
}

@media only screen and (max-width: 420px){
    .container_avatar{
        flex-direction: column;
        align-items: center;
    }
}
