.btn {
  border-radius: var(--size-1);
  transition: 0.3s;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font: inherit;
}

.btn_lg {
  padding: var(--size-5) var(--size-8);
}

.btn_sm {
  padding: var(--size-2) var(--size-4);
}

.btn_primary {
  background-color: var(--primary-color);
}

.btn:hover {
  opacity: 0.8;
}

.btn_secondary {
  background-color: var(--secondary-btn);
}

.btn_outline {
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.btn_outline:hover {
  background-color: var(--primary-color);
  color: var(--btn-primary-text);
}

.btn_success {
  background-color: var(--success-btn);
}

.btn_danger {
  background-color: var(--danger-btn);
}

.btn_warning {
  background-color: var(--warning-btn);
  color: var(--btn-black-text);
}

.btn_info {
  background-color: var(--info-btn);
  color: var(--btn-black-text);
}

.btn.btn_disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.btn_success,
.btn_danger,
.btn_primary,
.btn_secondary,
.btn_disabled {
  color: var(--btn-primary-text);
}

.btn_link {
  border-bottom: 1px solid var(--primary-color);
  border-radius: 0;
}

.btn_link:hover {
  color: var(--primary-color);
}

.btn_floating {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--btn-primary-text);
  height: var(--size-12);
  width: var(--size-12);
  border-radius: 50%;
}

.switch {
  position: relative;
  display: inline-block;
  width: var(--size-15);
  height: var(--size-8);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--toggle-background);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-6);
  width: var(--size-6);
  left: var(--size-1);
  bottom: var(--size-1);
  background-color: var(--white);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--primary-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--primary-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: var(--size-8);
}

.slider.round:before {
  border-radius: 50%;
}
