.modal_container {
  display: none;
  z-index: 5;
}

.modal_active {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--black-100);
  display: flex;
  justify-content: center;
  align-items: center;
}

.close_modal {
  position: absolute;
  top: var(--size-5);
  right: var(--size-8);
  font-size: var(--size-12);
  color: var(--black-100);
  cursor: pointer;
  border: none;
  background: none;
}

.modal {
  position: relative;
  width: 70%;
  background-color: var(--white);
  padding: var(--size-8);
  border-radius: var(--size-1);
  box-shadow: 0 var(--size-12) var(--size-20) var(--gray-200);
  z-index: 10;
}
