.navbar{
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: var(--navbar-bg);
    color: var(--gray-800);
}

.navbar_search{
    align-items: center;
    flex-basis: 60%;
    position: relative;
    margin-top: 8px;
}

.navbar_search .search_box{
    width: 100%;
    height: 2rem;
    border:none;
    border-radius: 4px;
    padding: 8px 1rem;
    background-color: var(--gray-800);
}

.navbar_search .btn{
    position: absolute;
    right: 8px;
    color: var(--gray-400)
}

.navbar_links{
    align-items: center;
}

.navbar_links a{
    margin: auto 8px;
}

.navbar_links .btn.btn_primary{
    color: var(--gray-200);
    background-color: var(--navbar-btn-primary)
}

.navbar_links .btn.btn_outline{
    color: var(--gray-800);
    border-color: var(--gray-800);
}

.navbar_links .icon_badge:hover{
    transform: scale(1.05);
}

.navbar_burger{
    align-items: center;
    display: none;
}

@media only screen and (max-width: 769px) {
    .navbar .navbar_links{
        display: none;
    }

    .navbar_burger{
        display: block;
    }
    
}

@media only screen and (max-width: 481px){
    .navbar{
        flex-wrap: wrap;
    }

    .navbar_search{
        order: 5;
        flex-basis: 100%;
    }
}
