:root{
    --primary-color: #339AF0;
    --link:#777777; 
    --link-hover: #4993cf;
    --primary-text-color: #396597;
    --border: #44444417;
    --border-dark: #24222285;
    --heading: #444444;
    --content: #495057;
    --code-snippet-bg: #cec8c8;
    --box-shadow: #00000009;
    --badge-red: #e20606;
    --badge-green: #22d822;
    --btn-primary-text: #fff;
    --alert-primary: #9bd9ff;
    --alert-success: #D1E7DD;
    --alert-secondary: #E2E3E5;
    --alert-danger: #F8D7DA;
    --alert-warning: #FFF3CD;
    --alert-success-icon: #047040;
    --alert-danger-icon: #d65959;
    --alert-warning-icon: #fcd34c;
    --alert-close-icon: #cec8c8;
    --avatar-text-background: #9bd9ff;
    --white: white;
   

    /* Buttons */
    --secondary-btn: #888a8b;
    --secondary-btn-hover: #717374;
    --success-btn: #157347;
    --danger-btn: #BB2D3B;
    --warning-btn: #FFC107;
    --info-btn: #31D2F2;
    --btn-black-text: #000000cc;
    --toggle-background: #ccc;

    /* Cards */
    --rating-bg: #cec8c8fa;

    /* numbering */
    --golden-400: #FF9529;

    /* Gray */
    --gray-100: #181818;
    --gray-200: #404040;
    --gray-300: #696969;
    --gray-400: #808080;
    --gray-500: #A0A0A0;
    --gray-600: #BEBEBE;
    --gray-700: #D0D0D0;
    --gray-800: #F5F5F5;

    /* Black */
    --black-100: #000000cc;

    /* Colors */
    --red-400: #f02a2a;
    --purple: #36195a;

    /* Form validation */
    --form-success: #2ecc71;
    --form-error: #e74c3c;
    

    
}

/* :root{
    --blue-one: #50B4F2;
    --blue-gray: #6699CC;
        --corn: #FFF275;
        --mango-tango: #FF8C42;
        --tart-orange: #FF3C38;
        --english-red: #A23E48;
        --black: #141414;
        --dark-gray: #444444;
} */
