:root{
    --primary-color: #339AF0;
    --link:#777777; 
    --link-hover: #4DABF7;
    --primary-text-color: #396597;
    --border: #44444417;;
    --heading: #444444;
    --content: #495057;
    --box-shadow: #00000009;
    --btn-primary-text: #fff;
    --alert-primary: #9bd9ff;
    --alert-success: #D1E7DD;
    --alert-secondary: #E2E3E5;
    --alert-danger: #F8D7DA;
    --alert-warning: #FFF3CD;
    --alert-success-icon: #047040;
    --alert-danger-icon: #d65959;
    --alert-warning-icon: #fcd34c;
    --alert-close-icon: #cec8c8;
    --avatar-text-background: #9bd9ff;
    
}

/* :root{
    --blue-one: #50B4F2;
    --blue-gray: #6699CC;
        --corn: #FFF275;
        --mango-tango: #FF8C42;
        --tart-orange: #FF3C38;
        --english-red: #A23E48;
        --black: #141414;
        --dark-gray: #444444;
} */