.doc_main {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.doc_main__content {
  grid-column: 2/3;
}

.doc_main__content > * {
  margin: 2rem;
}

.doc_main__content .component_title {
  font-size: calc(1.425rem + 2.1vw);
  color: var(--gray-200);
}

.doc_main__content .component_brief,
.doc_main__content .component_subtitle {
  font-size: calc(1.275rem + 0.3vw);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.doc_main__content .component_subtitle {
  color: var(--gray-300);
  font-weight: 400;
}

.doc_main__content .component_subtitle {
  margin-top: 3rem;
}

.doc_main__content .component_brief {
  font-weight: 300;
}

.section {
  border-bottom: 2px solid var(--border-dark);
}

.component_description {
  font-size: 1.125rem;
  line-height: 1.25em;
}

.code_text {
  color: var(--primary-text-color);
  font-size: 1rem;
  letter-spacing: initial;
}

.container_component {
  margin: 1rem auto;
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: wrap;
  border: 2px solid var(--border);
  border-radius: 8px;
}

.code_snippet {
  margin: 2rem auto;
  border-radius: 8px;
  max-height: 18.75rem;
  overflow: auto;
  border: 2px solid var(--primary-color);
  width: 60%;
}

/*Buttons*/
.wrapper_button {
  display: flex;
  flex-wrap: wrap;
}

.wrapper_button > * {
  margin: 10px;
}

.btn_to__top {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  border: 1px solid var(--white);
}

/* Typography */
.typography .container_component {
  align-items: flex-start;
}

.typography .container_component.text_alignment {
  display: block;
}

/*Grids*/
.container_component .grid {
  width: 100%;
}

.container_component .grid > * {
  border: 1px solid var(--border);
  min-height: 6.25rem;
}

/* Lists */
.container_component .list_container {
  border-radius: 5px;
  background-color: var(--gray-700);
  padding: var(--size-4) var(--size-8) var(--size-4) var(--size-10);
}

.container_component .styled_list {
  margin-bottom: var(--size-4);
}

.container_component .list_inline_item:not(:last-of-type) {
  margin-right: var(--size-6);
}

.container_component .list_inline > * {
  margin-right: var(--size-6);
}

.container_component .stacked_list {
  width: 100%;
}

.container_component .stacked_list li:not(:last-child) {
  margin-bottom: 1rem;
}

/* Modal */
.container_component .modal .h2 {
  margin-bottom: var(--size-4);
}

/* Slider */
.container_component .price_field {
  width: 40%;
}

.container_component .price_field input {
  width: 80%;
}

@media only screen and (max-width: 1024px) {
  .doc_main__content {
    grid-column: 1/-1;
    grid-row: 2/3;
  }
}

@media only screen and (max-width: 48rem) {
  .code_snippet {
    width: 100%;
  }
}
