* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--gray-400);
}

a {
  color: inherit;
  text-decoration: none;
}

.gist-meta {
  display: none;
}

.code_snippet .gist .gist-file,
.code_snippet .gist .gist-data {
  margin: 0;
  border: none;
}
