.sidebar{
    grid-column: 1/2;
    height: 100vh;
    box-shadow: 2px 0 2px 2px var(--box-shadow);
    padding: 1rem 1rem 1rem 2rem;
    overflow-y: scroll;
    position: sticky;
    top:0
}

.sidebar .sidebar_heading{
    font-size: 1.5rem;
    color: var(--heading);
    font-weight: 400;
}

.sidebar_heading{
    padding-top: 8px;
    padding-bottom: 8px;
}

.sidebar_component{
    padding: 8px 1rem;
}

.sidebar a{
    font-size: 1.25rem;
}

@media only screen and (max-width: 696px) {
    .sidebar{
        display: none;
    }
}