.sidebar{
    grid-column: 1/2;
    height: 100vh;
    box-shadow: 2px 0 2px 2px var(--box-shadow);
    overflow-y: scroll;
    position: sticky;
    top:0
}

.sidebar .sidebar_heading{
    font-size: 1.5rem;
    color: var(--heading);
    font-weight: 400;
}

.sidebar_heading{
    padding: 1rem 1.625rem;
}

.sidebar_component a{
    display: block;
    padding: 0.6rem 2rem;
    font-size: 1.25rem;
    transition: .4s;
}

.sidebar_component a:hover{
    background-color: var(--alert-primary);
     color: var(--link-hover)
}

@media only screen and (max-width: 696px) {
    .sidebar{
        display: none;
    }
}
